.ji_jiameng{
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.ji_jiameng .jm_img{
    position: relative;
}
.ji_jiameng .jm_img img{
    height: 3.5rem;
    border-radius: 5px;
}
.ji_jiameng .jm_img .jm_text{
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-indent: .2rem;
}
.ji_jiameng .jm_img .jm_text a{
    display: block;
    width: 1.4rem;
    height: .5rem;
    line-height: .5rem;
    border-radius: .25rem;
    color: #fff;
    background-color: rgba(255,0,0,1);
    margin-right: .2rem;
    margin-top: .2rem;
}
.ji_jiameng ul{
    width: 90%;
    margin: auto;
}
.ji_jiameng ul li {
    display: inline-block;
    width: 47%;
    margin-top: .1rem;
    margin-bottom: .1rem;
}
.ji_jiameng ul li .red{
    color: red;
}
.ji_jiameng .btn{
    margin-top: .2rem;
    text-align: center;
}
.ji_jiameng .btn a{
    display: inline-block;
    width: 45%;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    border: solid #59a59a 1px;
}
.ji_jiameng .cha{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: #59a59a;
    margin-right: -2px;
}
.ji_jiameng .wo{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background: #59a59a;
    color: #fff;
    margin-left: -2px;
}

.brand_jiesao li{
    font-size: .28rem;
    margin-bottom: .15rem;
    color: #333;
}
.brand_jiesao li strong{
    color: #bbb;
    font-weight:200;
}
.news_container .container>img{
    height: 4rem;
    margin-bottom: .2rem;
}
/*form*/
.form{
    text-align: center;
}
.form p{
    margin-top: .2rem;
    margin-bottom: .2rem;
    color: #bbb;
    font-size: .28rem;
    text-align: center;
}
.form input[type=radio]{
    margin-left: .2rem;
}
.form .text{
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-indent: .2rem;
    border-radius: .3rem;
    font-size: .27rem;
    border: 1px #cecece dashed;
    margin-bottom: .2rem;
    color: #333;
    font-weight: 300;
}
.form .textarea{
    width: 100%;
    height: 2rem;
    text-indent: .2rem;
    border: 1px #cecece solid;
    font-size: .27rem;
    margin-bottom: .2rem;
    border-radius: 5px;
    padding-top: .2rem;
    color:#333 ;
    font-weight: 300;
}
input::-webkit-input-placeholder{
    color: #bbb;
}
textarea::-webkit-input-placeholder{
    color: #bbb;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.form .submit{
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-indent: .2rem;
    border-radius: .3rem;
    font-size: .28rem;
    background: #ff2a2a;
    margin-bottom: .2rem;
    color: #fff;
    border:0;
}