a{
    color: #000;
}
.brand_jiesao li{
    font-size: .28rem;
    margin-bottom: .15rem;
    color: #333;
}
.brand_jiesao li strong{
    color: #bbb;
    font-weight:200;
}
.news_container .container>img{
    height: 4rem;
    margin-bottom: .2rem;
}
/*form*/
.form{
    text-align: center;
}
.form p{
    margin-top: .2rem;
    margin-bottom: .2rem;
    color: #bbb;
    font-size: .28rem;
    text-align: center;
}
.form input[type=radio]{
    margin-left: .2rem;
}
.form .text{
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-indent: .2rem;
    border-radius: .3rem;
    font-size: .27rem;
    border: 1px #cecece dashed;
    margin-bottom: .2rem;
    color: #333;
    font-weight: 300;
}
.form .textarea{
    width: 100%;
    height: 2rem;
    text-indent: .2rem;
    border: 1px #cecece solid;
    font-size: .27rem;
    margin-bottom: .2rem;
    border-radius: 5px;
    padding-top: .2rem;
    color:#333 ;
    font-weight: 300;
}
input::-webkit-input-placeholder{
    color: #bbb;
}
textarea::-webkit-input-placeholder{
    color: #bbb;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
.form .submit{
    width: 100%;
    height: .6rem;
    line-height: .6rem;
    text-indent: .2rem;
    border-radius: .3rem;
    font-size: .28rem;
    background: #ff2a2a;
    margin-bottom: .2rem;
    color: #fff;
    border:0;
}