/*style css*/

/*header*/
.index_header{
    border-bottom: 0;
}
.index_header .logo{
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.index_header .logo img{
    width: auto;
    height: 1rem;
    margin: auto;
}
/*banner*/
.banner .title{
    padding-top: .1rem;
    padding-bottom: .1rem;
    margin-bottom: .2rem;
    text-align: center;
    font-size: .32rem;
    color: #333;
    font-weight: 100;
}
.banner{
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.banner .swiper-container .swiper-slide{
    position: relative;
    height: 4rem!important;
    width: 4.4rem!important;
    padding: .2rem;
    border: #cecece solid 1px;
    border-radius: 5px;
}
.banner .swiper-container img{
    position: absolute;
    top: .2rem;
    height: 3.5rem;
    width: 4.4rem;
}
.banner .swiper-container strong{
    position: absolute;
    bottom: .2rem;
    font-size: .23rem;
    font-weight: 100;
    color: #333;
}
/*banner 轮播*/

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.news{
    margin-bottom: .2rem;
}


