.header_banner{
    margin-bottom: 0;
}
.store_img img{
     height: 6.4rem;
    margin-bottom: .2rem;
 }

.region3{
    margin-top: .4rem;
    margin-bottom: .4rem;
}
.region3 ul li {
    float: left;
    width: 33.3%;
}
.news div a strong {
    height: .5rem;
    line-height: .5rem;
}
.news p{
    color: #666;
}
.store_time {
    color: #bbb;
    margin-bottom: .11rem;
    margin-top: .11rem;
}