/*公共样式*/
/*字体*/
html{
    font-family: Verdana,'Microsoft YaHei';
}
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, "微软雅黑", "宋体", sans-serif;
    font-size: .22rem;
}
p,span{
    font-size: .26rem;
    color: #666;
}
a{
    text-decoration: none;
    color: #337ab7;
}
li{
    list-style: none;
}
img{
    display: block;
    width: 100%;
}
h2{
    padding-top: .2rem;
    padding-bottom: .35rem;
    font-size: .31rem;
    text-align: center;
    font-weight: 100;
    color: #333;
}
.time{
    color: #bbb;
    margin-bottom: 0!important;
}
.active{
    background: #005f9d !important;
}
.noright{
    border-right: none!important;
}
.noleft{
    border-left: none!important;
}
.nobutton{
    border-bottom: none!important;
}
.bor_button{
    height: 1px;
    border-bottom: dashed #ccc 1px;
    margin-bottom: .2rem;
    margin-top: .2rem;
}
/*布局*/
.container{
    width: 93%;
    margin-right: auto;
    margin-left: auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.over_hide{
    overflow: hidden;
}
.hide{
    display: none;
}
.bolck{
    display: block;
}
.inline-block{
    display: inline-block;
}
.row_1{
    margin-left: -.1rem;
    margin-right: -.1rem;
}
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.mbd3rem{
    margin-bottom: .3rem;
}
.mb1rem{
    margin-bottom: .1rem;
}
/*----------------模块css------------------------------*/
/*header*/
.header{
    position: relative;
    height: .82rem;
    line-height: .81rem;
    background: #333;
}
.header a .return {
    width: .8rem;
    height: .82rem;
    line-height: .9rem;
    margin-left: .08rem;
    font-size: .3rem;
}
.header a .small{
    font-size: .6rem;
}
.header a{
    color: #fff;
    font-size: .25rem;
}
.header h1{
    width: 70%;
    height: .82rem;
    line-height: .89rem;
    text-align: center;
    color: #fff;
    font-size: .32rem;
    font-weight: 100;
}
.header .hd-menu{
    width: .6rem;
    text-align: right;
    color: #fff;
    font-size: .25rem;
}
.header .none{
    display: none;
}
.header .sanjiao{
    z-index: 9;
    position: absolute;
    top: -.2rem;
    right: .3rem;
    width: 0;
    height: 0;
    border: .25rem solid #333;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
    transform:rotate(180deg);
}
.header .nav{
    z-index: 2;
    position: absolute;
    top: 1.8rem;
    right: 0;
    border-radius: 6px;
    background: #333;
}
.header .nav a{
    display: block;
    width: 1.8rem;
    height: .8rem;
    line-height: .8rem;
    text-align: left;
    text-indent: .55rem;
}
.header .nav .bg_img1{
    background: url("../images/nav_index.png") no-repeat .15rem .25rem;
    background-size: .27rem .27rem;
}
.header .nav .bg_img2{
    background: url("../images/nav_mengdian.png") no-repeat .15rem .25rem;
    background-size: .27rem .27rem;
}
.header .nav .bg_img3{
    background: url("../images/nav_pinpei.png") no-repeat .15rem .25rem;
    background-size: .27rem .27rem;
}
.header .nav .bg_img4{
    background: url("../images/nav_zxun.png") no-repeat .15rem .25rem;
    background-size: .27rem .27rem;
}
/* banner 广告 */
.header_banner{
    position: relative;
    width: 100%;
    margin-bottom: .2rem;
}
.header_banner img{
    height: 1rem;
}
.header_banner i{
    position: absolute;
    display: block;
    width: .3rem;
    height: .3rem;
    top: 0;
    right: 0;
    line-height: .3rem;
    border-radius: 1.5rem;
    background: #666;
    color: black;
    text-align: center;
    font-size: .3rem;
    font-style: normal;
}
/*模块一 index的地区 --  */
.region ul li{
    float: left;
    width: 25%;
}
.region li a{
    display: block;
    height: .6rem;
    line-height: .6rem;
    margin: .1rem;
    font-size: .24rem;
    background: #f8f8f8;
    border-radius: .3rem;
    text-align: center;
    color: #666;
}
.region li .red{
    color: red;
    background-color: #fef2f2;
}
/* 模块二 index的品牌(选项卡)  */

.tab_bar .tab_nav{
    text-align: center;
    border-bottom: solid #ccc 2px;
}
.tab_bar .tab_nav li{
    display: inline-block;
    width: 1.4rem;
    height: .5rem;
    line-height: .5rem;
    margin-left: .1rem;
    margin-right: .1rem;
    color: #000;
    font-size: .28rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: -2px;
}
.tab_bar .tab_nav .box_active{
    color: red!important;
    border-bottom: solid red 2px!important;
}
.box .box_list a{
    margin-bottom: .2rem;
    float: left;
    width: 48%;
    color: #000;
}
.box .box_list img{
    width: 100%;
    height: 2.85rem;
    margin-bottom: .14rem;
    border-radius: 5px;
}
.box .box_list .mr4{
    margin-right: 4%;
}
/* 模块三 news */
.news_list{
    /*height: 2rem;*/
    color: #000;
}
.news p {
    color: #333;
}
.news a strong{
    display: block;
    height: .42rem;
    line-height: .42rem;
    font-size: .28rem;
    font-weight: 100;
}
.news .news_list img{float: left;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    margin-right: .2rem;
}
.news .news_list .text_hide{
    line-height: .4rem;
    margin-bottom: .12rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #666;
}
.news .btn-more{
    width: 100%;
    text-align: center;
    font-size: .3rem;
    color: #2a8779;
    margin-bottom: .2rem;
}

/* 模块四 加盟*/
.jiamen strong{
    display: block;
    font-size: .28rem;
    font-weight: 100;
}
.jiamen p{
    line-height: .44rem;
    margin-bottom: .12rem;
}
.jiamen .news_list img{
    float: left;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 4px;
    margin-right: .2rem;
}
.jiamen .news_list .text_hide{
    overflow : hidden;
    padding-top: .03rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #666;
}
.jiamen .btn-more{
    width: 100%;
    text-align: center;
    color: #2a8779;
    font-size: .3rem;
    margin-bottom: .2rem;
}
/* pages 模块五 分页 */
.pages {
    margin-top: .2rem;
    margin-bottom: .2rem;
    text-align: center;
}
.pages span{
    width: 1rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
}
.pages span a{
    color: #333;
}
.pages .page_curent{
    width: 1rem;
    height: .4rem;
    line-height: .4rem;
    display: inline-block;
    border-radius: .2rem;
    border:#333 dashed 1px;
}
.pages .pages_active{
    color: black;
    background: #cecece;
}
/*模块六 推荐知识*/
.text_box{
    margin-bottom: .4rem;
    border-bottom: #cecece 1px dashed;
}
.text_box li{
    height: .8rem;
    line-height: .8rem;
    text-indent: .2rem;
    padding-left: .1rem;
    background: url("../images/li_style.png") no-repeat .2rem;
    background-size: .12rem .12rem;
    border-bottom: #cecece 1px dashed;
}
.text_box li a{
    width: 100%;
    display: inline-block;
    color: #333;
    font-size: .27rem;
}
.text_box li span {
    float: right;
    display: inline-block;
    color: #666;
    padding-right: .27rem;
    font-size: .27rem;
}
.text_box li .pr0{
    padding-right: 0;
}
/* 模块七 标题内容*/
.news_container{
    border-bottom: 1px #cecece dashed;
}
.news_container #newstext{
    height: 3rem;
    overflow: hidden;
}
#newstop{
    margin-top: .2rem;
    text-align: center;
}
.news_container .tl_time{
    color: #bbb;
    font-size: .23rem;
    text-align: center;
    margin-bottom: .23rem;
}
.news_container .tl_time span{
    color: #bbb;
    margin-left: .1rem;
    margin-right: .1rem;
}
.news_container p{
    margin-bottom: .23rem;
    color: #333;
    font-size: .28rem;
    line-height: .44rem;
}
.news_container strong{
    font-size: .3rem;
}
/*模块八 收藏 分享 */
.shou_fen{
    text-align: center;
}
.shou_fen div{
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem;
}
.shou_fen .shoucnag img{
    margin-top: .1rem;
    margin-left: auto;
    margin-right: auto;
    width: 1rem;
    height: 1rem;
}
.shou_fen .shoucnag p{
    text-align: center;
    margin-top: .1rem;
}
/* footer_banner 底部广告 */
.footer_banner{
    width: 100%;
}
.footer_banner img{
    height: 1.2rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
/*footer 底部*/
.footer_nav{
    margin-top: .2rem;
    color: #ddd;
}
.footer_nav a{
    color: #ddd;
}
.footer{
    padding-bottom: 1rem;
    text-align: center;
}
.footer .ft_logo{
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: black;
    font-size: .35rem;
    font-weight: bold;
}
.footer ul{
    margin-bottom: .2rem;
    text-align: center;
}
.footer ul li{
    display: inline-block;
    margin-left: .2rem;
    margin-right: .2rem;
    font-size: .28rem;
}
.footer li a{
    color: black;
}
.footer .copy{
    color: #cecece;
}