/*公共样式*/
/*字体*/
*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, "微软雅黑", "宋体", sans-serif;
    font-size: .22rem;
}
p,span{
    font-size: .24rem;
    color: #333;
}
a{
    text-decoration: none;
    color: #337ab7;
}
li{
    list-style: none;
}
img{
    display: block;
    width: 100%;
}
h2{
    padding-top: .2rem;
    padding-bottom: .2rem;
    font-size: .31rem;
    text-align: center;
    font-weight: 100;
    color: #333;
}
.time{
    color: #bbb;
}
.active{
    background: #005f9d !important;
}
.noright{
    border-right: none!important;
}
.noleft{
    border-left: none!important;
}
.bor_button{
    height: 1px;
    border-bottom: dashed #ccc 1px;
    margin-bottom: .1rem;
    margin-top: .3rem;
}
/*布局*/
.container{
    width: 93%;
    margin-right: auto;
    margin-left: auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.over_hide{
    overflow: hidden;
}
.hide{
    display: none;
}
.bolck{
    display: block;
}
.inline-block{
    display: inline-block;
}
.row_1{
    margin-left: -.1rem;
    margin-right: -.1rem;
}
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.mbd3rem{
    margin-bottom: .3rem;
}
.w100{
    width: 100%;
}
.w50{
    width: 49%;
}
.col-4{
    width: 30%;
    padding: .1rem;
    float: left;
}
.col-3{
    width: 24%;
    float: left;
    padding: 0;
    border:solid #c3cacf 2px;
}
/*模块css*/
/*header*/
.header{
    position: relative;
    height: .81rem;
    line-height: .81rem;
    border-bottom: solid 2px #000;
    background: #333;
}
.header a .return {
    width: .8rem;
    height: .82rem;
    line-height: .9rem;
    margin-left: .08rem;
    font-size: .3rem;
}
.header a .small{
    font-size: .6rem;
}
.header a{
    color: #fff;
    font-size: .25rem;
}
.header h1{
    width: 70%;
    height: .82rem;
    line-height: .89rem;
    text-align: center;
    color: #fff;
    font-size: .32rem;
    font-weight: 100;
}
.header .hd-menu{
    width: .6rem;
    text-align: right;
    color: #fff;
    font-size: .25rem;
}
.header .none{
    display: none;
}
.header .nav{
    z-index: 2;
    position: absolute;
    top: .81rem;
    margin-top: 1px;
    right: 0;
    border:solid 1px #000;
    /*border-radius: 3px;*/
    background: #333;
}
.header .nav .bb{
    border-bottom: solid 1px #000;
}
.header .nav a{
    display: block;
    width: 1.5rem;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
}
/* banner 广告 */
.header_banner{
    position: relative;
    width: 100%;
}
.header_banner img{
    height: 1rem;
}
.header_banner i{
    position: absolute;
    display: block;
    width: .3rem;
    height: .3rem;
    top: 0;
    right: 0;
}
/*模块一 index的地区 --  */
.region ul li{
    float: left;
    width: 25%;
}
.region li a{
    display: block;
    height: .6rem;
    line-height: .6rem;
    margin: .1rem;
    font-size: .24rem;
    background: #f8f8f8;
    border-radius: .3rem;
    text-align: center;
    color: #666;
}
.region li .red{
    color: red;
    background-color: #fef2f2;
}
/* 模块二 index的品牌(选项卡)  */

.tab_bar .tab_nav{
    text-align: center;
    border-bottom: solid #ccc 2px;
}
.tab_bar .tab_nav li{
    display: inline-block;
    height: .4rem;
    line-height: .4rem;
    margin-left: .1rem;
    margin-right: .1rem;
    color: #000;
    font-size: .27rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: -2px;
}
.tab_bar .tab_nav .box_active{
    color: red!important;
    border-bottom: solid red 2px!important;
}
.box .box_list a{
    margin-bottom: .2rem;
    float: left;
    width: 48%;
    color: #000;
}
.box .box_list img{
    width: 100%;
    height: 2.85rem;
    margin-bottom: .14rem;
    border-radius: 5px;
}
.box .box_list .mr4{
    margin-right: 4%;
}
/* 模块三 news */
.news a{
    margin-bottom: .2rem;
    color: #000;
}
.news p {
    color: #333;
}
.news a strong{
    display: block;
    height: .42rem;
    line-height: .42rem;
    font-size: .28rem;
    margin-bottom: .15rem;
    font-weight: 100;
}
.news .news_list img{float: left;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    margin-right: .2rem;
}
.news .news_list .text_hide{
    line-height: .4rem;
    margin-bottom: .12rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #666;
}
.news .btn-more{
    width: 100%;
    text-align: center;
    font-size: .3rem;
    color: #2a8779;
}

/* 模块四 加盟*/
.jiamen a{
    margin-bottom: .2rem;
    color: #333;
}
.jiamen strong{
    display: block;
    margin-bottom: .15rem;
    font-size: .28rem;
    font-weight: 100;
}
.jiamen p{
    line-height: .45rem;
    margin-bottom: .12rem;
}
.jiamen .news_list img{
    float: left;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    margin-right: .2rem;
}
.jiamen .news_list .text_hide{
    overflow : hidden;
    padding-top: .1rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #666;
}
.jiamen .btn-more{
    width: 100%;
    text-align: center;
    color: #2a8779;
    font-size: .3rem;
}
/* pages 模块五 分页 */
.pages {
    margin-top: .2rem;
    margin-bottom: .2rem;
    text-align: center;
}
.pages span{
    width: 1rem;
    height: .4rem;
    line-height: .4rem;
    text-align: center;
}
.pages span a{
    color: #333;
}
.pages .page_curent{
    width: 1rem;
    height: .4rem;
    line-height: .4rem;
    display: inline-block;
    border-radius: .2rem;
    border:#333 dashed 1px;
}
.pages .pages_active{
    color: black;
    background: #cecece;
}
/* footer_banner 底部广告 */
.footer_banner{
    width: 100%;
}
.footer_banner img{
    height: 1.2rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
/*footer 底部*/
.footer_nav{
    color: #585858;
}
.footer_nav a{
    color: #585858;
}
.footer{
    padding-bottom: 1rem;
    text-align: center;
}
.footer .ft_logo{
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: black;
    font-size: .35rem;
    font-weight: bold;
}
.footer ul{
    margin-bottom: .2rem;
    text-align: center;
}
.footer ul li{
    display: inline-block;
    margin-left: .2rem;
    margin-right: .2rem;
    font-size: .28rem;
}
.footer li a{
    color: black;
}
.footer .copy{
    color: #cecece;
}